@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap");

body {
  @apply text-nube leading-5;
  font-family: "Inter", sans-serif;
}

.section {
  @apply w-full;
}

.container {
  @apply mx-auto;
  max-width: 960px;
  position: relative;
}

.h1,
.h2,
.h3 {
  @apply leading-tight font-semibold text-noche;
}

.h1 {
  @apply text-2xl;
}
.h2 {
  @apply text-xl;
}
.h3 {
  @apply text-lg;
}
@screen md {
  .h1 {
    @apply .text-4xl;
  }
  .h2 {
    @apply .text-3xl;
  }
  .h3 {
    @apply .text-2xl;
  }
}

.Navbar__menu__menu-item {
  @apply py-3 px-5;
}

.hero-container {
  display: flex;
}

.hero-img {
  @apply object-cover rounded-lg;
  height: 500px;
}

.btn {
  @apply py-4 px-8 rounded-lg bg-gray-400 text-noche font-semibold;
}
.btn--primary {
  @apply bg-peach;
}

.bg-blob-1,
.bg-blob-2 {
  @apply fixed;
  z-index: -1;
  transform: scale(0.5);
}
.bg-blob-1 {
  @apply right-0 top-0;
  transform-origin: right top;
}
.bg-blob-2 {
  @apply left-0 bottom-0;
  transform-origin: left bottom;
}

.ProjectLayout {
  min-height: 70vh;
}

.my-masonry-grid {
  display: flex;
  margin-left: -30px; /* gutter size offset */
  width: auto;
}
.my-masonry-grid_column {
  padding-left: 30px; /* gutter size */
  background-clip: padding-box;
}

/* Style your items */
.my-masonry-grid_column > img {
  /* change div to reference your elements you put in <Masonry> */
  background: grey;
  margin-bottom: 30px;
}
