@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap");

body {
  @apply text-nube leading-5;
  font-family: "Inter", sans-serif;
}

.section {
  @apply w-full;
}

.container {
  @apply mx-auto;
  max-width: 960px;
  position: relative;
}

.h1,
.h2,
.h3 {
  @apply leading-tight font-semibold text-noche;
}

.h1 {
  @apply text-2xl;
}
.h2 {
  @apply text-xl;
}
.h3 {
  @apply text-lg;
}
@media screen and (min-width: 768px) {
  .h1 {
    @apply .text-4xl;
  }
  .h2 {
    @apply .text-3xl;
  }
  .h3 {
    @apply .text-2xl;
  }
}

.Navbar__menu--mobile {
  top: 105%;
  transition: all 200ms ease-out;
}
.Navbar__menu--mobile.menu--closed {
  max-height: 0;
}
.Navbar__menu--mobile.menu--open {
  max-height: 200px;
}

.Navbar__menu__menu-item {
  @apply py-3 px-5;
}

.hero-container {
  display: flex;
}

.hero-img {
  @apply object-cover rounded-lg;
  height: 400px;
}
@media screen and (min-width: 768px) {
  .hero-img {
    height: 500px;
  }
}

.hero-info {
  right: 10px;
  bottom: -10px;
}
@media screen and (min-width: 768px) {
  .hero-info {
    right: 0;
    bottom: -30px;
  }
}

.project-hero {
  height: 200px;
}
@media screen and (min-width: 768px) {
  .project-hero {
    height: 550px;
    object-position: 0 80%;
  }
}

.btn {
  @apply py-4 px-8 rounded-lg bg-gray-300 text-noche font-semibold outline-none;
}
.btn--primary {
  @apply bg-peach;
}
.btn--sm {
  @apply text-sm py-2 px-6;
}

.bg-blob-1,
.bg-blob-2 {
  @apply fixed;
  z-index: -1;
  transform: scale(0.5);
}
.bg-blob-1 {
  @apply right-0 top-0;
  transform-origin: right top;
}
.bg-blob-2 {
  @apply left-0 bottom-0;
  transform-origin: left bottom;
}

.ProjectLayout {
  min-height: 70vh;
}

.my-masonry-grid {
  display: flex;
  width: auto;
}

/* Style your items */
.my-masonry-grid_column > img,
.my-masonry-grid_column > .grid-item {
  /* change div to reference your elements you put in <Masonry> */
  @apply mb-10 text-center;
}

@media screen and (min-width: 768px) {
  .ImageGallery__image {
    height: 400px;
  }
}
